@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url('../font/webfont.eot'); /* IE9 */
  src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/webfont.woff2') format('woff2'),
  url('../font/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
body{
  color:yellow; 
  background:url(../img/WechatIMG9301.png);
  font-family: "webfont" !important;
}
.group{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}